.heading
{
    font-size: 23px;
    width: 100%;
    margin:0px ;
    box-shadow: 5px 5px 5px rgb(241, 7, 132);
    color: rgb(0, 13, 255);
}

.note
{
    font-size: 15px;
    color:chartreuse;
}

.copy_right_footer {
    position: fixed;
    color: rgb(255, 0, 217);
    bottom: 1;
    width: 100%;
    background-color: black;
    line-height: 3;
    text-align: center;
}

canvas{
    border: 5px solid floralwhite;
    border-radius: 15px;
    box-shadow: 5px 5px 5px orangered;
}